<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <div class="container">
        {{ constant('Twig_Environment::VERSION') }}
        <div id="home">
            {{ render_pageparts(page, 'home') }}
        </div>
        <div id="about">
            {{ render_pageparts(page, 'about') }}
        </div>
        <div id="portfolio">
            {{ render_pageparts(page, 'portfolio') }}
        </div>
        <div id="contact">
            {{ render_pageparts(page, 'contact') }}
        </div>
    </div>

